<footer class="footer">
  <div class="container mt-1">
    <div class="row">
      <div class="mr-auto ml-2">
        <i id="syncIcon" class="fa fa-2x fa-check-circle-o footer__icon"></i>
      </div>
      <div class="mx-auto">
        <p id="statsText" class="footer__stats"></p>
      </div>
      <div class="ml-auto mr-2">
        <i class="fa fa-2x fa-question-circle-o footer__icon" data-toggle="modal" data-target="#faqAppModal"></i>
      </div>
    </div>
  </div>
</footer>