<footer class="footer">
  <div class="container mt-1">
    <!--<i id="syncIcon" class="fa fa-2x fa-check-circle-o ml-auto"></i>
    <span id="statsText"></span>-->
    <div class="row">
      <div class="col verticalAlign">
        <i id="syncIcon" class="fa fa-2x fa-check-circle-o"></i>
        <small id="statsText" class="ml-2"></small>
      </div>
    </div>
  </div>
</footer>