<div class="modal fade" id="faqAppModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5>How it works?</h5>
        <button class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit vero deleniti eos explicabo ut eum velit vitae laudantium consequatur magnam.
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>