<div class="modal fade" id="faqAppModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5>How it works?</h5>
        <button class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p>This is an alternative task manager for <a href="https://habitica.com" target="_blank">Habitica</a>. For now it just support To-Dos.</p>

        <p class="mb-1">How to use it</p>
        <ul>
          <li>
            Check your To-Dos by double clicking the name of the respective task.
          </li>
          <li>
            You can add To-Dos with comments writing this : "This a ToDo | This is a comment"
          </li>
          <li>
            <i class="fa fa-heart footer__icon"></i> &rarr; Represents your life points in the game.
          </li>
          <li>
            <i class="fa fa-flask footer__icon"></i> &rarr; Represents your mana points in the game.
          </li>
          <li>
            <i class="fa fa-database footer__icon"></i> &rarr; Represents your gold in the game.
          </li>
        </ul>

        <p class="mb-1">Sync icon : indicator for sync with Habitica</p>
        <ul>
          <li>
            <i class="fa fa-check-circle-o"></i> &rarr; Changes synced with Habitica
          </li>
          <li>
            <i class="fa fa-spinner"></i> &rarr; Syncing with Habitica's Server
          </li>
          <li>
            <i class="fa fa-exclamation-circle"></i> &rarr; There was a problem syncing with Habitica. You should reload the page.
          </li>          
        </ul>



      </div>
      <div class="modal-footer">
        <a href="https://github.com/vega-ken/tasks-habitica" target="_blank" class="mr-auto"><i class="fa fa-github fa-2x"></i></a>
        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>