.noteTask{
  color: #7A7C7D;
  font-size: 0.8em;
}

.verticalAlign{
  display: flex;
  align-items: center;
}

.action-buttons{
  vertical-align: middle;
}

.rowTask{
  border-top: 1px solid #CFC7C7;
}

.taskName{
  display : inline;
}

/* dificultad */
.taskDif{
  font-size: 10px;
  padding-left : 2px;
  padding-right: 2px;
  display: inline;
  color: #fff;
  border-radius: 2px;
}

#addTaskContainer .taskDif:hover{ /* solo las dificultades debajo del form */
  font-weight: bold;
}

.taskDifActive{
  font-weight: bold;
}

#addTaskContainer .taskDif{  /* solo las dificultades debajo del form */
  cursor : pointer;
}

.taskHard{
  background-color: #d83131;
}

.taskMedium{
  background-color: #e17218;
}

.taskEasy{
  background-color: #6fd633;
}

.taskTrivial{
  background-color: #17dbf5;
}

/* icono sync */

#syncIcon{
  color : #0ee2f1; /*c7c7c7*/
}

/* containers */

#containerTasks{
  margin-bottom: 40px;
}

#containerTasks > :last-child{ /* linea arriba a la primera fila */ /* #containerTasks div.row:first-child */
  /*border-top: 1px solid #CFC7C7;*/
  border-bottom: none;
}

/* form para editar tareas */

.inputEditText{
  width: 80%;
  border-style: none;
  border-bottom : #CFC7C7 solid 1px;
  padding: 0;
}

.inputEditText:focus{
  outline: none;
  border-bottom : #000 solid 1px;
}

.inputEditNotes:focus{
  outline: none;
  border-bottom : #000 solid 1px;
}

.inputEditNotes{
  color: #7A7C7D;
  font-size: 0.8em;
  width: 70%;
  border-style: none;
  border-bottom : #CFC7C7 solid 1px;
  padding: 0;
}

.editButton{
  visibility: hidden; /* could change to display : none; */
}

/* FOOTER */

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px; /* Set the fixed height of the footer here */
  /*line-height: 60px; */ /* Vertically center the text there */
  background-color: #17a2b8;
}

#statsText{
  width : 30%;
  max-height : inherit;
}