/* row-task */

.row-task__note-task{
  color: #7A7C7D;
  font-size: 0.8rem;
}

.row-task{
  border-top: 1px solid #CFC7C7;
}

.row-task__task-name{
  display : inline;
}

.action-buttons{
  vertical-align: middle;
}


/* Dificultad spans */

.task-difficulty{
  font-size: .8rem;
  font-weight: 300;
  padding : 0 .5rem;
  display: inline;
  color: #fff;
  border-radius: 2rem;
}

#addTaskContainer .task-difficulty{  /* solo las dificultades debajo del form */
  cursor : pointer;
}

#addTaskContainer .task-difficulty:hover{ /* solo las dificultades debajo del form */
  font-weight: bold;
  box-shadow: 0 .5rem 3rem rgba(0, 0, 0, 0.2);
}

.task-difficulty--active{
  font-weight: bold;
  box-shadow: 0 .5rem 3rem rgba(0, 0, 0, 0.2);
}



.task-difficulty--hard{
  background-color: #d83131;
}

.task-difficulty--medium{
  background-color: #e17218;
}

.task-difficulty--easy{
  background-color: #6fd633;
}

.task-difficulty--trivial{
  background-color: #17dbf5;
}


/* containers */

#containerTasks{
  margin-bottom: 40px; /* por el navbar */
}

#containerTasks > :last-child{ /* linea arriba a la primera fila */ /* #containerTasks div.row:first-child */
  /*border-top: 1px solid #CFC7C7;*/
  border-bottom: none;
}


/* Form para editar tareas */

.inputEditText{
  width: 80%;
  border-style: none;
  border-bottom : #CFC7C7 solid 1px;
  padding: 0;
}

.inputEditText:focus{
  outline: none;
  border-bottom : #000 solid 1px;
}

.inputEditNotes:focus{
  outline: none;
  border-bottom : #000 solid 1px;
}

.inputEditNotes{
  color: #7A7C7D;
  font-size: 0.8em;
  width: 70%;
  border-style: none;
  border-bottom : #CFC7C7 solid 1px;
  padding: 0;
}

.editButton{
  visibility: hidden; /* could change to display : none; */
}


/* Footer */

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px; /* Set the fixed height of the footer here */
  background-color: #17a2b8;
  color : #ffffff;
}

.footer__stats{
  margin-top: .2rem;
}

.footer__icon.fa-heart{
  color: red;
}

.footer__icon.fa-flask{
  color: blue;
}

.footer__icon.fa-database{
  color: yellow;
}



/* Checkbox */

.subtask__checkbox-label{
  position: relative;
  padding-left: 1.2rem;
}

.subtask__checkbox-button{
  
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border: 2px solid #17a2b8;
  border-radius: 2px;

  position: absolute;
  left: 0;
  top: .25rem;
}

.subtask__checkbox-button::after{
  content: "";
  display: block;

  height: .5rem;
  width: .5rem;
  border-radius: 1px;

  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #17a2b8;

  opacity: 0;
  transition: opacity .3s;
}

.subtask__checkbox-input:checked + .subtask__checkbox-label .subtask__checkbox-button::after {
  /* enlazando el checkbox original con el nuevo creado */
  opacity: 1;
}

.subtask__checkbox-input{
  display: none;
}

/* Nuevo form para sub tasks agregadas */

.form-sub-task{
  margin-top: .4rem;
  margin-bottom: .4rem;
}

.form-sub-task__input{
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.534);
  border: none;
  padding: .2rem .3rem;

  font-family: inherit;
  color: inherit;

  display: block;

  margin-left: 2rem;

  border-bottom: 3px solid transparent;
}

.form-sub-task__input:focus{
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.1);
  border-bottom: 3px solid greenyellow;
}